<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <meta http-equiv="refresh" content="3;url=http://localhost:5000/">-->
    <script src="./scripts/name.js" defer></script>

    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid silver;
            padding: 5px;
        }
    </style>
    <title>Document</title>
</head>
<body>

<nav>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/name">name</a>
        </li>
    </ul>
</nav>
<h1>Name</h1>

<table>

    <tbody>
    <tr>
        <th>name</th>
        <th>name</th>
        <th>name</th>
        <th>name</th>
        <th>name</th>
    </tr>
    </tbody>


    <tbody>

    </tbody>
</table>

<form>
    <div>
        <label for="name">name</label>
        <input type="text" id="name">
    </div>

    <div>
        <label for="age">age</label>
        <input type="text" id="age">
    </div>
 <button type="submit">send</button>

</form>

</body>
</html>