<!doctype html>
<html lang="en">

    <%-include('./partielas/head.ejs')%>

<body>
<h1>Node JS</h1>

<%-include('./partielas/nav.ejs')%>
<script src="./scripts/home.js" defer></script>
</body>
</html>