<!doctype html>
<html lang="en">

    <%-include('./partielas/head.ejs')%>

<body>

<%-include('./partielas/nav.ejs')%>
<h1>Name</h1>

<table>

    <tbody>
    <tr>
        <th>name1</th>
        <th>name2</th>
        <th>name3</th>
        <th>name4</th>
        <th>name5</th>
    </tr>
    </tbody>


    <tbody>

    </tbody>
</table>

<form>
    <div>
        <label for="name">name</label>
        <input type="text" id="name">
    </div>

    <div>
        <label for="age">age</label>
        <input type="text" id="age">
    </div>
    <button type="submit" data-target="button">send</button>

</form>

<script src="./scripts/name.js" defer></script>

</body>
</html>